<head>
    <link rel="stylesheet" href="http://localhost:8000/styles/welcome.css">
</head>

<body>
    <h1>Register to Codem@n!a</h1>
    <form action="/register" method="post" enctype="multipart/form-data">
        <input type="text" name="username" id="username" placeholder="username">
        <input type="email" name="email" id="email" placeholder="email">
        <input type="password" name="password" id="password" placeholder="password">
        <input type="file" name="avatar" id="">

        <input type="submit" value="Done">
        <input type="reset" value="Clear">
    </form>
</body>