<head>
    <link rel="stylesheet" href="http://localhost:8000/styles/welcome.css">
</head>
<body>
    <h1>Welcome to my site! Yay!</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem vero odio in hic sint, repellendus assumenda dicta eius iure. Veniam numquam magnam illum consectetur reiciendis quaerat sequi fugiat alias! Doloribus.
    </p>
    <a href="http://www.google.com">Link to Google</a>
</body>